/* scroll event*/
.scrollContent {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
.scrollContent > .scrollzz {
  scroll-snap-align: start;
  height: 100vh;
}

/* #725368 dark purple
#8D7688 light purple
#F1EEDB white

#D9B4A3 kream
#C19185 dark cream */

.bg-own-darkPurple {
  background: #725368;
}
.bg-own-lightPurple {
  background: #8d7688;
}
.bg-own-white {
  color: #f1eedb;
}
.bg-own-cream {
  color: #d9b4a3;
}
.bg-own-darkCream {
  color: #c19185;
}

/* OverRide */
.dropdown-menu li a:hover {
  color: #d9b4a3;
  background: #8d7688;
}
.dropdown-menu li {
  height: 100%;
}

nav {
  height: 5.625rem;
}
/* section carosel height */
.carousel-inner {
  height: calc(100vh - 5.625rem);
}

/* fixed Nav */
.fixedContainer {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.hov{
    border: 1px solid #8d7688;
    transition: .1s;
}
.hov:hover {
  border:2px solid #725368 ;
}
